* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  text-align: center;
  background-color: #eadaf2;
  margin: 75px 25px;
}

/* .MuiButtonBase-root.css-1s9g4nu-MuiButtonBase-root-MuiFab-root{
  color:black;
  background-color:black;
}
.MuiFab-sizeLarge.css-1s9g4nu-MuiButtonBase-root-MuiFab-root{
  color:black;
  background-color:black;
}
.MuiFab-root.css-1s9g4nu-MuiButtonBase-root-MuiFab-root{
  color:black;
  background-color:black;
}
.MuiFab-circular.css-1s9g4nu-MuiButtonBase-root-MuiFab-root{
  color:black;
  background-color:black;
} */
.MuiFab-circular.MuiFab-root{
  background-color:#97f09d;
}
.MuiFab-circular.MuiFab-root:hover{
  background-color: #eadaf2;
  ;
}
